/build
/node_modules
/dist
.env
*.log
*.lock
.git-*


################
# os artifacts #
################
**/.DS_Store

#################
# ide artifacts #
#################
# vscode
\.vscode/
# intellij
.idea
*.iml